:root{
    color: white;
    background-color: #2d323b;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
}

.claculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(134, 123, 123);
    width: 450px;
    height: 650px;
    border-radius: 15px;
}

#display{
    margin: auto;
    margin-top: 25px;
    background-color: aqua;
    width: 90%;
    height: 110px;
    border-radius: 15px;

    color:black;
}

#background-text{
    
    margin-bottom: 15px ;
}

p span{
    display: block;
    text-align: right;
    padding-right: 15px;
    font-size: 30px;
    height: 25px;
}

#background-text{
    font-size: 25px;
}

.grid-container{
    display: grid;
    flex:1;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    margin: 25px;
}

.calc-button{
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 50px;
}

.calc-button input{
    flex: 1;
    background-color: orange;
    border-radius: 15px;
    font-size: inherit;
}

#clear{
    grid-column-start: 1;
    grid-column-end:3;
}

#delete{
    grid-column-start: 3;
    grid-column-end: 5;
}